<div class="container">
    <h3>Pick your next move...</h3>
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="playRock()">Rock</button>
        <button mat-flat-button color="primary" (click)="playPaper()">Paper</button>
        <button mat-flat-button color="primary" (click)="playScissors()">Scissors</button>
    </div>
    <div class="message">
        <p *ngIf="result">{{humanizeResult(result.outcome)}} Machine played {{result.moveByMachine}}</p>
    </div>
</div>